<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Recipes - {{ recipe.name }}</title>
  </head>
  <body>
    <h1>{{ recipe.name }}</h1>

    <article>
      <h2>{{recipe.name}}</h2>
      <p>{{recipe.description}}</p>

      {% if recipe.сooking_time %}
      <p>{{recipe.сooking_time}}</p>
      {% endif %}
      
    </article>

    <style>
      * {
        font-family: Roboto, sans-serif;
      }

      h1 {
        text-align: center;
      }

      article {
        max-width: 600px;
        margin: 0 auto 40px;
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 20px;
      }
    </style>
  </body>
</html>
